---
interface Props {
  href: string;
  label: string;
  id?: string;
  external?: boolean;
  active?: boolean;
}

const { href, label, id, external = false, active = false } = Astro.props;

const baseClass =
  'py-3 text-xs @[9rem]:text-sm @[11rem]:text-base whitespace-normal break-words';
const className = active ? `${baseClass} bg-base-300` : baseClass;
---

<li>
  <a
    class={className}
    id={id}
    href={href}
    target={external ? '_blank' : undefined}
    referrerpolicy={external ? 'no-referrer-when-downgrade' : undefined}
  >
    {label}
  </a>
</li>
